In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('data/Datathon_2018_Dataset_Hashbyte_New.csv', delimiter=';')

In [7]:
data.shape

(1452755, 4)

In [8]:
data.columns

Index(['Subscriber_A', 'Subsciber_B', 'Label', 'Real_Event_Flag'], dtype='object')

In [9]:
data.head()

,Subscriber_A,Subsciber_B,Label,Real_Event_Flag
0,0xFC1A79880148D5D3FBC989C90F9D99AE,0x60358E62F5C03EC19AD81C54915AE0B4,Low,0
1,0xFC1A79880148D5D3FBC989C90F9D99AE,0x60358E62F5C03EC19AD81C54915AE0B4,Low,0
2,0xFC1A79880148D5D3FBC989C90F9D99AE,0x542A679EA6DC3752D01E4C40A6DC2708,Low,0
3,0x62E0C33CB0F9327FE8EE5FA064DAF69F,0x03D6B65B220C904678732E5439346F48,Low,0
4,0x2F23F291B052F4CEE0B213F97C25CA4E,0xDBCE45BBADC9DB251F11633CC054DDF3,Low,0

In [10]:
data.Subscriber_A.unique().size

54595

In [11]:
data.Subsciber_B.unique().size

99808

In [12]:
data.Real_Event_Flag.mean()

0.8786175232575348

In [13]:
data.Label.value_counts()

Medium    490172
Low       489743
High      472840
Name: Label, dtype: int64

In [14]:
intersection_subscribers = set(data.Subscriber_A.unique()) & set(data.Subsciber_B.unique())

In [15]:
len(intersection_subscribers)

35712

### is the data a tree or is there some cyclicity???

In [16]:
num_outgoing_calls = data.Subscriber_A.value_counts()
meta_num_outgoing_calls = num_outgoing_calls.value_counts()

### for some reason most number of calls are even

In [17]:
most_social_person = num_outgoing_calls.head(1).index[0]

In [18]:
social_set = [most_social_person]
for degree in range(5):
    print(degree)
    responders = data[data.Subscriber_A.isin(social_set)].Subsciber_B.unique()
    if most_social_person in responders:
        print('cycle found!')
        break
    social_set = responders

0
1
cycle found!